<div class="logos-container">
    <div class="logos-grid">
        <img src="assets/logo/toyota.png" alt="Toyota Logo" class="logo-img">
        <img src="assets/logo/ford.png" alt="Ford Logo" class="logo-img">
        <img src="assets/logo/mercedez.png" alt="Mercedes-Benz Logo" class="logo-img">
        <img src="assets/logo/jeep.png" alt="Jeep Logo" class="logo-img">
        <img src="assets/logo/bmw.png" alt="BMW Logo" class="logo-img">
        <img src="assets/logo/audi.png" alt="Audi Logo" class="logo-img">
    </div>
</div>