<div class="info-container">
    <!-- Address Block -->
    <div class="info-block">
        <div class="icon-circle">
            <img src="assets/iconos/footer-icons/location.svg" alt="location" class="icon-img">
        </div>
        <div class="info-text">
            <p class="info-label">Address</p>
            <p class="info-value">Oxford Ave. Cary, NC 27511</p>
        </div>
    </div>

    <!-- Email Block -->
    <div class="info-block">
        <div class="icon-circle">
            <img src="assets/iconos/footer-icons/email.svg" alt="email" class="icon-img">
        </div>
        <div class="info-text">
            <p class="info-label">Email</p>
            <p class="info-value">nwiger@yahoo.com</p>
        </div>
    </div>

    <!-- Phone Block -->
    <div class="info-block">
        <div class="icon-circle">
            <img src="assets/iconos/footer-icons/iconRedPhone.svg" alt="phone" class="icon-img">
        </div>
        <div class="info-text">
            <p class="info-label">Phone</p>
            <p class="info-value">+537 547-6401</p>
        </div>
    </div>

    <!-- Opening Hours Block -->
    <div class="info-block">
        <div class="icon-circle">
            <img src="assets/iconos/footer-icons/time.svg" alt="time" class="icon-img">
        </div>
        <div class="info-text">
            <p class="info-label">Opening hours</p>
            <p class="info-value">Sun-Mon: 10am - 10pm</p>
        </div>
    </div>
</div>